.todo-item {
  max-width: 100%;
  background-color: #e1e1e1;
  border-radius: 8px;

  padding: 5px 20px;
  margin: 8px 5px;
}

.todo-item > h3 {
  display: flex;
  justify-content: space-between;
}

.priority-high, .priority-medium, .priority-low {
  font-weight: 500;
}

.priority-high {
  color: red;
}

.priority-medium {
  color: orange;
}

.priority-low {
  color: limegreen;
}
